/** main.css **/
body{
    margin:0px;
    padding:0px;
}
#header h1 {
   color: #4c4c4c;
   text-align: center;
   margin:0px;
   padding-top:10px;
   padding-bottom:20px;
}
#col-left{
   width: 12%;
   float:left;
   border-right: 2px solid #4c4c4c;
   overflow:auto;
   background-color:#001916; 
   color: white; 
   padding:1%;
   margin:0px;
}
#col-center{
   width: 66%;
   float:left;
   overflow:auto;
   margin-left:1%;
   margin-right:1%;
}
#col-right{
   width: 14%;
   float: right;
   border-left: 2px solid #b2b2b2;
   overflow:auto;
   background-color:#e5e5e5; 
   padding:1%;
   margin:0px;
}
#local-video, #map-container{
   width: 20%;
   float: right;
}
/** Vidéos */
video, img{
   /*width: 95%;*/
   width: 80%;
   display: block;
   margin: 0 auto;
}
#activeVideo{
   width: 65%;
   display: block;
   margin: 0 auto;
   padding-bottom:10px;
}
.remoteVideo{
   padding:2px;
}
#localVideo{
	   width: 320;
	   height: 240;
}
#activeVideo{
   height: 300px;
}
#map_canvas{
   /*width: 500px; */
   width : 95%;
}
#common-repository{
   margin-bottom: 8px;
}
#common-repository-area, #dataChannelReceive{
   background-color: #b2b2b2;
   border: 1px solid #7f7f7f;
   overflow:auto;
}
#common-repository-area{
   margin-bottom:5px;
}
#historical-container-area{
   background-color: #b2b2b2;
   border: 1px solid #ffffff;
   overflow:auto;
}
#profils-container{
   overflow:auto;
}
.profil{   
   border: 1px solid white;
   background-color: #b2b2b2; 
   padding:2px;
}
.profil span {
   width:80%; 
   float:left;
}
.profil img{
    width:10%; 
    float:right;
}

#dataChannelReceive {
   width : 98%;
}
#dataChannelSend {
   margin-top:5px;
   width : 98%;
}
#submitButton{
   float: right;
   margin-top : 5px;
}
#video-left, #video-right{
   width : 8%;
   float: left;
}
#active-video video{
   width: 80%;
}
.color1{
   color: blue;
   font-weight: bold;
}
.color2{
   color: red;
   font-weight: bold;
}
.color3{
   color: green;
   font-weight: bold;
}
.color4{
   color: brown;
   font-weight: bold;
}
/********** newPrivateRoom ***********/
.row-top{
   border-right: 2px solid #4c4c4c;
   overflow:auto;
   background-color:#001916; 
   padding:1%;
   margin:0px;
}
#new-header h1, #log-header h1{
   text-align: center;
   margin:0px;
   padding-top:10px;
   padding-bottom:20px;
   color: white; 
}
.row-body-container{
   width: 20%;
   border: 2px solid #b2b2b2;
   background-color:#e5e5e5; 
   padding:1%;
   margin:0px auto;
   margin-top: 10%;
}
#errorPasswords, #errorPrivatePassword{
   color: red;
   font-size: 12px;
   padding-bottom: 5px;
   display: none;
}

.transfer, .download-file, .upload-file{
   color:black;
}
.connect{
   color: green;
}
.disconnect{
   color: red;
}
.date{
   color:black;
   text-align:right;
   font-weight: bold;
   font-style: italic;
}

ul {
   list-style-type: none;
}
li:before {
   content: '- ';
}

/** Drag N Drop */
#droppableZone-container {
	margin:-20px 0 0 0px;
   height: 8%;        
   max-height: 60px;
   overflow:auto;
   font-size: 10px;
}

#droppableZone {
   margin-top:10px;
	border:2px dashed #b2b2b2;  
   height: 8%;      
   max-height: 60px;
	padding:10px;
}
.titlebox{
	float:left;
	padding:0 5px;
	margin:-20px 0 0 30px;
	background: #e5e5e5;
}
#content {
	padding:10px;
   height: 8%;        
   max-height: 50px;
   width: 98%;
   border: 2px dashed #b2b2b2; 
   /*background-color: #e5e5e5;*/
   color: grey;
   overflow:auto;
   -webkit-border-radius: 10px;
   -ms-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 3px #000;
   -ms-box-shadow: inset 0 0 3px #000;
   box-shadow: inset 0 0 3px #000;
   cursor: move;
}
.dragged {
   border: 2px dashed #000;
   background-color: green;
}
.draggedOver {
   border: 2px dashed #000;
   background-color: green;
}

#containerIndex {
   display : none;
}
#containerLogRoom {
   display : none;
}
#containerLogPrivateRoom {
   display : none;
}
#containerNewRoom{
   display : none;
}
